body {
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url('assets/spaceimage.jpg');
    height: 100%;
}

#earth_div {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    /*important is the reason we can't move the earth while having 
      moon as the moons important takes priority (i think)*/
}

#moon_div {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

#logo {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#signature{
    color: white;
    width: 100%;
    bottom: 0; 
    text-align: center;
    position: fixed;
    
}